<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista Livros</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <a href="../">Voltar</a>
    <div class="container">
        <div id="listaDeConvidados">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Formato</th>
                        <th>Autores</th>
                        <th>Nome</th>
                        <th>Rank</th>
                        <th>Dimensão X</th>
                        <th>Dimensão Y</th>
                        <th>Dimensão Z</th>
                        <th>Edição</th>
                        <th>Situação da Edição</th>
                        <th>Notação das Ilustrações</th>
                        <th>Checksum da Imagem</th>
                        <th>Caminho da Imagem</th>
                        <th>URL da Imagem</th>
                        <th>Imprint</th>
                        <th>ISBN10</th>
                        <th>ISBN13</th>
                        <th>Idioma</th>
                        <th>Data de Publicação</th>
                        <th>Rating Médio</th>
                        <th>Quantidade de Avaliações</th>
                        <th>Título</th>
                        <th>Peso</th>
                    </tr>
                </thead>
                    <tr th:each="book : ${books}">
                        <td><span th:text="${book.id}"></span></td>
                        <td><span th:text="${book.format?.name}"></span></td>
                        <td>
                            <div th:each="author : ${book.authors}">
                                <span th:text="${author?.name}">,</span>
                            </div>
                        </td>
                        <td><span th:text="${book.description}"></span></td>
                        <td><span th:text="${book.rank}"></span></td>
                        <td><span th:text="${book.dimensionX}"></span></td>
                        <td><span th:text="${book.dimensionY}"></span></td>
                        <td><span th:text="${book.dimensionZ}"></span></td>
                        <td><span th:text="${book.edition}"></span></td>
                        <td><span th:text="${book.editionStatement}"></span></td>
                        <td><span th:text="${book.illustrationsNote}"></span></td>
                        <td><span th:text="${book.imageCheckSum}"></span></td>
                        <td><span th:text="${book.imagePath}"></span></td>
                        <td><span th:text="${book.imageUrl}"></span></td>
                        <td><span th:text="${book.imprint}"></span></td>
                        <td><span th:text="${book.isbn10}"></span></td>
                        <td><span th:text="${book.isbn13}"></span></td>
                        <td><span th:text="${book.lang}"></span></td>
                        <td><span th:text="${book.publicationDate}"></span></td>
                        <td><span th:text="${book.ratingAvg}"></span></td>
                        <td><span th:text="${book.ratingCount}"></span></td>
                        <td><span th:text="${book.title}"></span></td>
                        <td><span th:text="${book.weight}"></span></td>
                    </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>