<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Perguntas e Respostas</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
  <a href="../">Voltar</a>
    <div class="container">
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Qual a quantidade total de livros da base?
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <span th:text="${qtdeBooks}"></span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Qual a quantidade de livros que possuí apenas 1 autor?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <span th:text="${qtdeBooksWithOneAuthor}"></span>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Quais os 5 autores com a maior quantidade de livros?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="container">
                        <div id="listaDeConvidados">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nome</th>
                                        <th>Quantidade</th>
                                    </tr>
                                </thead>
                                    <tr th:each="author : ${authorsWithMoreBooks}">
                                        <td><span th:text="${author[0]}"></span></td>
                                        <td><span th:text="${author[1]}"></span></td>
                                        <td><span th:text="${author[2]}"></span></td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Qual a quantidade de livros por categoria?
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Qtde Livros</th>
                                </tr>
                            </thead>
                                <tr th:each="category : ${qtdeBooksByCategory}">
                                    <td><span th:text="${category[0]}"></span></td>
                                    <td><span th:text="${category[1]}"></span></td>
                                </tr>
                        </table>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Quais as 5 categorias com a maior quantidade de livros?
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Categoria</th>
                                    <th>Qtde Livros</th>
                                </tr>
                            </thead>
                                <tr th:each="category : ${categoriesWithMoreBooks}">
                                    <td><span th:text="${category[0]}"></span></td>
                                    <td><span th:text="${category[1]}"></span></td>
                                </tr>
                        </table>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Qual o formato com a maior quantidade de livros?
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Formato</th>
                                    <th>Qtde Livros</th>
                                </tr>
                            </thead>
                                <tr th:each="f : ${formatWithMoreBooks}">
                                    <td><span th:text="${f[0]}"></span></td>
                                    <td><span th:text="${f[1]}"></span></td>
                                </tr>
                        </table>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSeven">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Considerando a coluna “bestsellers-rank”, quais os 10 livros mais bem posicionados?
                    </button>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Livro</th>
                                </tr>
                            </thead>
                                <tr th:each="book : ${bestSellers}">
                                    <td><span th:text="${book}"></span></td>
                                </tr>
                        </table>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingEight">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Considerando a coluna "rating-avg", quais os 10 livros mais bem posicionados?
                    </button>
                  </h5>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Livro</th>
                                </tr>
                            </thead>
                                <tr th:each="book : ${bestAvg}">
                                    <td><span th:text="${book}"></span></td>
                                </tr>
                        </table>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingNine">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Quantos livros possuem "rating-avg" maior do que 3,5?
                    </button>
                  </h5>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                  <div class="card-body">
                    <div id="listaDeConvidados">
                        <span th:text="${qtdeAvgMoreThanThree}"></span>
                    
                  </div>
                </div>
              </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTen">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Quantos livros tem data de publicação (publication-date) maior do que 01-01-2020?
                </button>
              </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
              <div class="card-body">
                <div id="listaDeConvidados">
                    <span th:text="${qtdeBooksPublicationDate}"></span>
                
              </div>
            </div>
          </div>
      </div>
    </div>
    <script src="../bootstrap/js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>