<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista Categorias</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <a href="../">Voltar</a>
    <div class="container">
        <div id="listaDeConvidados">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                    <tr th:each="category : ${categories}">
                        <td><span th:text="${category.id}"></span></td>
                        <td><span th:text="${category.name}"></span></td>
                    </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>